<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/bootstrap.css" rel="stylesheet">
    <!-- <style>
        h1{
            font-size: 100px;
        }
    </style> -->
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Virtual Calendar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/registro">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/inicio_sesion">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/schedule">Schedules</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
          
          </div>
        </div> -->
      </nav>
    
    <!-- <p id="user"></p>
    <button id="logout">Cerrar sesión</button>
    <a href="/registro">Registrarse</a>
    <a href="/inicio_sesion">Iniciar sesión</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, cupiditate?</p>
    <img src="https://images.unsplash.com/photo-1651052003819-ec2abaa445f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80" alt="Imagen">
    <img src="/static/foto.jpeg" alt="Foto de prueba">
 -->
    <script>
        const user = document.getElementById("user")
        const logoutBtn = document.getElementById("logout")
        const id = localStorage.getItem("id")


        if(id){
            const name = localStorage.getItem("name")

            user.innerText = name

            logoutBtn.onclick = function(){
                localStorage.clear()
                location.href = "/"
            }
        }else{
            logoutBtn.style.display = "none"
        }

        // Asíncrona
        // Async
        fetch("/users") // Inicio
        .then(function(resultado){
            return resultado.json()
        })//Resultado exitoso
        .then(function(data){
            console.log(data)
        })
        .catch(function(error){
            console.log(error)
        })//Resultado fallido


        // Gestión de promesas con Async/await
        // async function request(){
        //     try{
        //         const resultado = await fetch("/users")
        //         const data = await resultado.json()
        //         return data
        //     }catch(error){
        //         console.log(error)
        //     }
        // }

        // request()


    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>