<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <legend>Register Here</legend>
        <fieldset>
            <input type="text" name="name" value="name" id="">
            <input type="email" name="email" value="email" id="">
            <input type="date" name="date" value="date" id="">
            <input type="password" name="password" value="password" id="">
            <input type="password" name="password2" value="password2" id="">
        </fieldset>
    </form>
</body>
</html>